.Layout nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: #FAF2D7;
    border-radius: 8px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.Layout nav button {
    padding: 0.7rem 1.7rem;
    font-weight: bold;
}

.Layout nav button:hover {
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

li {
    padding-right: 2vw;
}

a {
    color: #708090;
    text-decoration: none;
    transition:  2s ease-in-out;
}

a:hover {
    transition:cubic-bezier(0.165, 0.84, 0.44, 1);
    color: rgb(166, 195, 92);
}
  
.logo {
    width: 9rem;
    border-radius: 8px;
}

.shopping-cart-logo {
    width: 4rem;
}